 /* 
  Typegraphy is the way that text
  is arranged and presented 
*/

body {
  padding: 10%;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

/* input, button {
  font: inherit;

} */

p {
  line-height: 1.5;
  font-weight: lighter;
  /* font-style: normal; */
  /* word-spacing: 0.1rem; */
  /* letter-spacing: 0.1rem; */
  /* text-indent: 2em; */
  /* text-align: justify; */
  /* text-decoration: none;
  text-transform: uppercase; */
}









